body {
  margin: 0;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 21cm;
  max-height: 29.7cm;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  display: grid;
  grid-template-areas: "columna1" "columna2";
  grid-template-columns: 7cm 1fr;
  height: 100vh;
}

.leftSide {
  grid-area: "columna1";
  display: flex;
  flex-direction: column;
  background-color: #424242;
  height: 29.7cm;
  color: white;
}

.picAndName {
  position: relative;
}

.photo {
  width: 100%;
  opacity: 0.5;
}

.nameAndTitle {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: white;
}

.nameAndTitle h1 {
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin: 0;
  color: #fa9160;
}

.nameAndTitle span {
  color: #fa9160;
}

.nameAndTitle p {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.08rem;
  font-weight: 600;
}

.personalData {
  margin-left: 15px;
  letter-spacing: 0.08rem;
  margin-top: 0px;
}

.skills {
  padding: 10px;
  letter-spacing: 0.1rem;
  margin-top: 10px;
}

.skills h5 {
  font-size: 1rem;
  color: #fa9160;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
}

.skill {
  padding: 5px 10px;
  margin: 0;
}

.skill p {
  margin: 0;
  font-size: 0.8rem;
}

.bar {
  height: 10px;
  background-color: rgba(255, 255, 255, 0.12);
  position: relative;
}

.bar .progress {
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fa9160;
  border-right: 1px solid white;
  box-sizing: border-box;
}

.hobbies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 0px;
}

.hobbie {
  text-align: center;
  padding: 3px;
}

.hobbie h5 {
  font-weight: 400;
  letter-spacing: 0.08rem;
  font-size: 0.8rem;
  margin: 4px;
  text-decoration: none;
}

/* COLUMNA DERECHA */

.rightSide {
  grid-area: "columna2";
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.3rem;
  text-align: justify;
  letter-spacing: 0.07rem;
  padding-top: 20px;
}

.rightSideItem {
  margin: 1rem 0;
}

.rightSideItem h2 {
  font-weight: 700;
  color: #fa9160;
  text-transform: uppercase;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
}

.rightSideItem span {
  color: #fa9160;
  font-weight: 700;
}

.textBlockContainer {
  margin: 1rem 0;
}

.rightSideItem.education h4 {
  display: none;
}

.textBlockContainer p {
  font-size: 0.8rem;
  margin: 0;
}

.textBlockContainer h3 {
  color: black;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 0.4rem;
}

.textBlockContainer h4 {
  color: #575656;
  font-size: 1rem;
  margin: 0;
}

.textBlockContainer h4 span {
  color: #9e9e9e;
  margin-left: 0.4rem;
  font-size: 0.7rem;
  font-weight: 300;
}

.textBlockContainer .stack {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}
